
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding-top: 2rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
ul{
    background-color: gray;
    margin-top: 2rem;
}