<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <main>
            <div class="container-top">
                <div class="logo">
                    <img src="logo.png" alt="logo">
                </div>

                <div class="input">
                    <input type="text" v-model="inputText">
                    <button @click="addText">aggiungi</button>
                </div>
            </div>

            <div class="container-bottom">
                <ul>
                    <li v-if="list.length > 0" v-for="(element, index) in list">
                        <span>
                            {{element}}
                        </span>
                        <span @click="removeList(index)">
                            x
                        </span>
                    </li>
                    <h3 v-else="list.length == 0">to do list vuoto</h3>
                </ul>
            </div>
        </main>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>